*
{
    margin: 0;
    padding: 0;
}
.container
{
    width: 1440px;
    height: auto;
    margin: 0 auto;
    /*outline: 1px solid;*/
}
.in_header_top
{
    width: 1440px;
    height: 27px;
    background-color: #222222;
    margin: 0 auto;
}
.in_header_top ul
{
    margin-left: 130px;
    list-style: none;
}
.clear
{
    clear: both;
}
.in_header_top ul li
{
    float: left;
}
.in_header_top ul li a
{
    display: inline-block;
    width: auto;
    height: 27px;
    line-height: 27px;
    text-decoration: none;
    text-align: center;
    padding-right: 25px;
    font-size: 12px;
    color: white;
}
.content
{
    width: 1440px;
    height: auto;
    padding-top: 160px;
    padding-bottom: 160px;
    background-color: #f1f1f1;
}
.content_img
{
    width: 374px;
    height: 91px;
    margin: 0 auto;
}
.info_content_main
{
    width: 700px;
    height: auto;
    margin: 80px auto 0;
}
.info_content_left
{
    width: 190px;
    height: auto;
    /*margin-left: 370px;*/
    float: left;
}
.info_content_left div
{
    width: 190px;
    height: 40px;
    margin-top: 20px;
    position: relative;
}
.info_content_left div a
{
    display: inline-block;
    width: 120px;
    height: 40px;
    padding-left: 70px;
    color: white;
    text-decoration: none;
}
.info_content_left div img
{
    position: absolute;
    top: 5px;
    left: 20px;
}
.info_content_left div p
{
    line-height: 40px;
}
.info_content_left_red
{
    background-color: #ef5135;
}
.info_content_left_blue
{
    background-color: #29a5f1;
}
.info_content_left_green
{
    background-color: #22ac38;
}
.info_content_left_blue2
{
    background-color: #556fb5;
}
.info_content_right
{
    margin-right: 30px;
    float: right;
    margin-top: -15px;
}
.info_content_right form .p1
{
    margin-top: 20px;
    margin-left: 80px;
    font-size: 14px;
}
.info_content_right form p label
{
    /*margin-left: 10px;*/
}
.info_content_right form .p1 .a1
{
    text-decoration: none;
    color: blue;
    margin-left: 110px;
}
.info_content_right form .p2
{
    font-size: 14px;
    padding-left: 200px;
    margin-top: 20px;
}
.info_content_right form .p2 .a2
{
    text-decoration: none;
    color: blue;
}
.input
{
    width: 300px;
    height: 35px;
    margin-top: 35px;
}
.checkbox
{
    display: inline-block;
    width: 15px;
    height: 15px;
    color: blue;
}
.button
{
    margin-left: 80px;
    background-color: #3498db;
    color: white;
    border: none;
}
.in_footer
{
    width: 1440px;
    height: auto;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}
.in_footer p
{
    text-align: center;
    font-size: 13px;
    color: white;
    line-height: 30px;
}
.in_footer p a
{
    text-decoration: none;
    color: white;
}
